        html {
            height:100%;
            box-sizing: border-box;
        }

        body {
            height:100%;
            background-color: #fff;
            color: #333;
            font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
            padding: 0;
            margin: 0;
        }

        * {
            box-sizing: inherit;
        }

        container {
            height: 100%
        }

        .wrapper {
            min-height: 100%;
            display: grid;
            grid-template-rows: auto 1fr auto;
        }

        .page-header {
            background-color: rgb(75, 70, 74);
            color: #fff;
            padding: 6px;
            padding-left: 20px;
            font-size: xx-large;
        }

        .page-footer {
            background-color: rgb(75, 70, 74);
            color: #fff;
            padding: 2px;
            padding-left: 20px;
        }

        .header {
            padding: 2px;
        }

        .page-body {
            padding: 20px;
        }

        .show {
            display: block;
        }

        .slide {
            padding: 2px;
        }

        .title {
            text-align: left;
            font-size: 3em;
            font-weight: bold;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .sub-title {
            text-align: left;
            font-size: 3em;
            margin-top: 0px;
        }

        .list-title {
            text-align: left;
            font-size: 3em;
            margin-left: 1em;
            margin-top: 2px;
            margin-bottom: 0px;
        }

        .list {
            text-align: left;
            font-size: 1.5em;
        }

        .list-order {
            text-align: left;
            font-size: 1em;
            margin-left: 2em;
            margin-top: 0;
        }

        .section-title {
            font-size: 2em;
            font-weight: bold;
            /* margin: 0; */
            margin-top: 20px;
            margin-bottom: 0;
            text-align: left;
            /* position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%); */
        }

        .section-sub-title {
            font-size: 2em;
            /* margin: 0; */
            margin-top: 0px;
            margin-bottom: 5px;
            text-align: left;
            /* position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); */
        }

        .section {
            /* position: absolute; */
            text-align: left;
            width: 100%;
            top: 40%;
            left: 50%;
            /* transform: translate(-50%, -50%); */
        }

        .song-title {
            font-size: 1em;
            font-weight: bold;
            margin: 0;
            /* position: absolute; */
            text-align: left;
            width: 100%;
            top: 40%;
            left: 50%;
            /* transform: translate(-50%, -50%); */
        }

        .song-verse-large {
            text-align: left;
            font-size: 1em;
            margin: 0;
        }

        .song-verse {
            text-align: left;
            font-size: 0.5em;
            margin: 0;
        }

        .song-verse-small {
            text-align: left;
            font-size: 0.75em;
            margin: 0;
        }

        .title-left {
            text-align: left;
            font-size: xx-large;
            padding-left: 50px;
        }

        .title-center {
            margin: 0;
            /* position: absolute; */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .right-footer {
            /* position: absolute; */
            right: 0;
            padding-right: 20px;
        }

        .song-verse-right {
            /* position: absolute; */
            right: 0;
            font-size: 1em;
            padding-right: 20px;
            margin: 10px;
        }

        #goTopBtn {
          display: none;
          position: fixed;
          bottom: 20px;
          right: 20px;
          z-index: 99;
          font-size: 16px;
          padding: 10px;
          border: none;
          outline: none;
          background-color: #333;
          color: white;
          cursor: pointer;
          border-radius: 5px;
        }
        
        #goTopBtn:hover {
          background-color: #555;
        }


